name: Lint, format and test tools
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "tools/**"
      - ".github/workflows/pull_request_tools.yml"

jobs:
  tools-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tool:
          - notify-service-user-sync
    steps:
      - name: Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50 # tag=v2.11.1
        id: changes
        with:
          filters: |
            tool:
              - 'tools/${{ matrix.tool }}/**'
              - '.github/workflows/pull_request_tools.yml'

      - name: Setup python
        if: steps.changes.outputs.tool == 'true'
        uses: actions/setup-python@61a6322f88396a6271a6ee3565807d608ecaddd1 # v4.7.0
        with:
          python-version: "3.10"

      - name: Install tool dependencies
        if: steps.changes.outputs.tool == 'true'
        working-directory: tools/${{ matrix.tool }}
        run: make install

      - name: Lint
        if: steps.changes.outputs.tool == 'true'
        working-directory: tools/${{ matrix.tool }}
        run: make lint

      - name: Format
        if: steps.changes.outputs.tool == 'true'
        working-directory: tools/${{ matrix.tool }}
        run: make ARGS=--check fmt

      - name: Test
        if: steps.changes.outputs.tool == 'true'
        working-directory: tools/${{ matrix.tool }}
        run: make test        
